<h3>Products</h3>
<div id = "container">

  <div *ngFor = "let product of products" class = "product-el" >
    <div id = "image"> <img src={{product.image}} alt="photo"> </div>

    <h3>
      <a class="name-el"
        [title]="product.name + ' details'"
        [routerLink]="['/products',product.id]">
        <span id = "product">{{ product.name }}</span>
      </a>
    </h3>
    <div class="info-el">
    <p>
      <b>Цена:</b> {{product.price}}тг
      <br>
      <b>Рейтинг:</b> <ngb-rating [max]="5" [readonly]="true" [rate]="product.rating" class="rating-el"></ngb-rating>
    </p>
    <app-like class = "like"> </app-like>

    <a href = "https://t.me/share/url?url={{product.link}}">
      <button type="button">
        Share
      </button>
    </a>
      <a href = {{product.link}}>
        <button type="button" class="kaspi">
          Kaspi.kz
        </button>
      </a>
    </div>


</div>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->